<html>
<head>
<script src="jquery.js"></script>
<script>
$(function(){

function updateLoginStatus() {
    FB.getLoginStatus(function(response) {
        if (response.status === 'connected') {
            $('.facebook-login').hide();
            $('.facebook-logout').show();
            $('.facebook-token').val(response.authResponse.accessToken)
        } else {
            $('.facebook-login').show();
            $('.facebook-logout').hide();
            $('.facebook-token').val('');
        };
        $('.facebook-status').text(response.status)
    });
}


window.fbAsyncInit = function() {
    FB.init({
        appId      : '122753474571987',
        channelUrl : '//capricalabs.com:7564/channel.html',
        status     : true,
        cookie     : true,
        xfbml      : true
    });

    updateLoginStatus();
};

$('.facebook-login').click(function(ev){
    ev.preventDefault();
    FB.login(function(response) {
        if (response.authResponse) {
            updateLoginStatus();
        }
    });
});

$('.facebook-logout').click(function(ev){
    ev.preventDefault();
    FB.logout(function(response) {
        updateLoginStatus();
    });
});

$('.request-submit').click(function(ev){
    ev.preventDefault();
    var method = $('.request-method option:selected').val().split(';');
    var id = $('.request-id').val();
    var url = ('/' + method[1].replace('ID', id)).replace('gabs_message', 'gabs');

    $.ajax({
        type: method[0],
        url: url,
        data: eval("(" + $('.request-params').val() + ")"),
        dataType: 'json',
        error: function(xhr, stat, err) {
            $('.response').val(stat + ": " + err);
        },
        success: function(data, stat, xhr) {
            $('.response').val(JSON.stringify(data, null, " "));
        }
    });
});

$('.request-method').change(function(){
    var params = {
        "GET;gabs": { 'time': '',  'provider': 'facebook' },
        "POST;gabs": { 'content': 'initial message', 'kind': 0,  'provider': 'facebook', 'user_data': { 'foo': 'bar' }, 'receiver_email': 'number3@capricalabs.com', 'related_user_name': 'My receiver' },
        "POST;gabs_message": { 'content': 'reply message', 'kind': 0, 'provider': 'facebook', 'user_data': { 'foo': 'bar' }, 'gab_id': 5 },
        "POST;gab-request-clue": { 'gab_id': 5, 'provider': 'facebook' },
        "POST;purchases": { 'receipt': '<insert receipt here>' }
    };

    var val = $('.request-method option:selected').val();

    var myparams = params[val] || {}
    myparams['access_token'] = $('.facebook-token').val();

    $('.request-params').val(JSON.stringify(myparams, null, " "));
    $('.request-id-wrap').toggle(val.indexOf('ID') != -1);
});

(function(d){
   var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
   if (d.getElementById(id)) {return;}
   js = d.createElement('script'); js.id = id; js.async = true;
   js.src = "//connect.facebook.net/en_US/all.js";
   ref.parentNode.insertBefore(js, ref);
}(document));

});
</script>
<style>
body{font-family:arial;font-size:12px;}
h1{font-size:18px;}
label{display:inline-block;width:200px;}
input,select,textarea{border:1px solid gray;width:400px;}
textarea{vertical-align:top;height:160px;}
.response{height:250px;}
.wrap{width:620px;}
.request-id-wrap{display:none;}
</style>
</head>
<body>
<h1>Youtell-API panel</h1>
<div id="fb-root"></div>

<div class="wrap">
<p>
    <label>Facebook Status:</label>
    <span class="facebook-status"></span>
    <a class="facebook-login" href="#">log in</a>
    <a class="facebook-logout" href="#">log out</a>
</p>
<p>
    <label>Access Token:</label>
    <input class="facebook-token" />
</p>
<p>
    <label>Method:</label>
    <select class="request-method">
        <option value="">Select method</option>
        <option value="GET;gabs">Index gabs</option>
        <option value="POST;gabs">Create gab</option>
        <option value="POST;gabs_message">Create message</option>
        <option value="GET;gabs/ID">Get gab</option>
        <option value="POST;gab-request-clue">Create clue</option>
        <option value="POST;purchases">Create a purchase</option>
    </select>
</p>
<p class="request-id-wrap">
    <label>Object ID:</label>
    <input class="request-id" />
</p>
<p>
    <label>Additional parameters (JSON):</label>
    <textarea class="request-params"></textarea>
</p>

<p style="text-align:center;">
    <a class="request-submit" href="#">Submit request</a>
</p>

<p>
    <label>Response:</label>
    <textarea class="response"></textarea>
</p>
</div>

</body>
</html>
